<style>
    body{
        margin-top: 0px;
        margin-left:0px;
    }
</style>
<div style="width:800px; height:600px;background-image:url('/images/testwiz/oriental.png'); border:gray 5px solid">
<center>
    <br>
    <b style='font-size:46px'>CERTIFICATE OF RECOGNITION</b><br><br><br>
    <div style='font-size:30px; margin-top:10px;margin-bottom:5px'> This officially certifies that</div>
    <h1 style='font-size:58px;text-shadow: 5px 5px 5px silver; color:Navy;'>{{name}}</h1>
    <div style='font-size:30px'>has successfully passed with a raw score of <b style='color:Maroon'>{{totalScore}}</b></div>
    <b style='font-size:40px; text-shadow: 2px 2px 2px grey; color:silver'>{{course}}</b><br>
    <div style='color:Maroon; font-size:32px'>-{{subject}}-</div>

    
   <img  style="width:160px" id='testLogo' src="/images/testwiz/{{logo}}"; />
</center>
</div>